# OS
.DS_Store
Thumbs.db

# editors
.idea/
.vscode/

# env files
.env
.env.*
!.env.sample

# python
__pycache__/
*.pyc
.venv/
db.sqlite3

# django build artifacts
/static/
/media/

# node
node_modules/
